* {
    box-sizing: border-box;
  }
  
  body {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 20px;
    font-family: Arial;
  }
  
  main {
    background-color: #f1f1f1;  
    border-radius: 25px;
    width: 50%;
    margin: auto;
    
  }

  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
    padding: 10px;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-word;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: #a2a0a0;;
    border-radius: 25px;
    padding: 10px;
  }

.skillblock {
  background-color: #7b7b7b;
  padding: 10px;
  border-radius: 10px;
}

.skills {
    height: 2px;
    margin-bottom: 1em;
    background-color: #373737;
}

.skills div {
  height: 100%;
}

#html {
    width: 90%;
    background-color: #0400ff;
}

#css {
    width: 85%;
    background-color: #00ff59;
}

#javascript {
    width: 80%;
    background-color: #FFEC00;
}

#java {
  width: 50%;
  background-color: #ffa200;
}

#python {
  width: 40%;
  background-color: #ff2200;
}

#php {
  width: 30%;
  background-color: #ff00d0;
}

a img {
  border-radius: 25px;
}

.icons {
  padding: 10px;
}

.list-item {
  padding: 5px;
}

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    h1 {
      font-size: 30px;
    }
    #column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    #column {
      width: 100%;
    }
  }